# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Binaries
go/trace
bpf-apps/bashreadline
bpf-apps/block_shell
bpf-apps/execsnoop
bpf-apps/execsnoop_v2
bpf-apps/hello
bpf-apps/hello_btf
bpf-apps/tc_block_tcp
bpf-apps/xdppass
bpf-apps/http_trace
bpf-apps/https_trace
bpf-apps/https_trace_bad
bpf-apps/xdp_drop_test
bpf-apps/xdp_drop
bpf-apps/xdp_drop_trace

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Python
.venv
*.pyc
.vscode

# Rust
target

# Other
.DS_Store
