name: Build Validation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Setup
      run: |
        sudo apt-get install -y make clang llvm libelf-dev
    - name: build
      run: |
        cd bpf-apps
        make libbpf
        make
